@mixin transform($property) {
	-webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}




img {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 144px;
    width: 85%;
    
   
}

.img_logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 61px;
    width: 80%;
    
   
}



//Coudnt manage to center the map

.mapouter { 
        text-align: center;
      }